[submodule "vim/bundle/ack.vim"]
	path = vim/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
	ignore = dirty
[submodule "vim/bundle/matchit"]
	path = vim/bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
	ignore = dirty
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = dirty
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
	ignore = dirty
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	ignore = dirty
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
	ignore = dirty
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	ignore = dirty
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
	ignore = dirty
[submodule "vim/bundle/vim-accordion"]
	path = vim/bundle/vim-accordion
	url = https://github.com/mattboehm/vim-accordion.git
	ignore = dirty
[submodule "vim/bundle/emmet-vim"]
	path = vim/bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
	ignore = dirty
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	ignore = dirty
[submodule "vim/bundle/gocode"]
	path = vim/bundle/gocode
	url = https://github.com/Blackrush/vim-gocode.git
	ignore = dirty
[submodule "vim/bundle/vim-isort"]
	path = vim/bundle/vim-isort
	url = https://github.com/fisadev/vim-isort.git
	ignore = dirty
[submodule "vim/bundle/kwbdi.vim"]
	path = vim/bundle/kwbdi.vim
	url = https://github.com/vim-scripts/kwbdi.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	ignore = dirty
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "vim/bundle/vim-python-combined"]
	path = vim/bundle/vim-python-combined
	url = https://github.com/mitsuhiko/vim-python-combined.git
	ignore = dirty
[submodule "vim/bundle/vim-jinja"]
	path = vim/bundle/vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja.git
	ignore = dirty
[submodule "vim/bundle/vim-rst"]
	path = vim/bundle/vim-rst
	url = https://github.com/mitsuhiko/vim-rst.git
	ignore = dirty
[submodule "vim/bundle/pytest.vim"]
	path = vim/bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
	ignore = dirty
[submodule "vim/bundle/vim-sleuth"]
	path = vim/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
	ignore = dirty
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "vim/bundle/brolink.vim"]
	path = vim/bundle/brolink.vim
	url = https://github.com/jaxbot/brolink.vim.git
	ignore = dirty
[submodule "vim/bundle/YankRing.vim"]
	path = vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
	ignore = dirty
[submodule "vim/bundle/CamelCaseMotion"]
	path = vim/bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
	ignore = dirty
[submodule "vim/bundle/py_jump.vim"]
	path = vim/bundle/py_jump.vim
	url = https://github.com/vim-scripts/py_jump.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-opinion"]
	path = vim/bundle/vim-opinion
	url = https://github.com/rstacruz/vim-opinion.git
	ignore = dirty
[submodule "vim/bundle/vim-buftabline"]
	path = vim/bundle/vim-buftabline
	url = https://github.com/ap/vim-buftabline.git
	ignore = dirty
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
	ignore = dirty
[submodule "vim/bundle/Spacegray.vim"]
	path = vim/bundle/Spacegray.vim
	url = https://github.com/ajh17/Spacegray.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "vim/bundle/molokai"]
	path = vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
	ignore = dirty
[submodule "vim/bundle/jellybeans.vim"]
	path = vim/bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
	ignore = dirty
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = https://github.com/sjl/badwolf.git
	ignore = dirty
[submodule "vim/bundle/rename.vim"]
	path = vim/bundle/rename.vim
	url = https://github.com/danro/rename.vim.git
	ignore = dirty
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
