ansible
arrow
beautifulsoup4
colorama
cookiecutter
csvdiff
datasette
ety
grip
isort
jupyter
klaus
matplotlib
nbstripout
pandas
pillow
pre-commit
pynvim
python-language-server[pyflakes,pycodestyle,pydocstyle,mccabe]
sh
sphinx
structlog
