ansible
arrow
awscli
beautifulsoup4
black
colorama
cookiecutter
csvdiff
datasette
ety
google-cloud-bigquery
grip
gunicorn[gevent]
isort
jupyter
keyring
klaus
magic-wormhole
matplotlib
modin
nbstripout
pandas
pandas-gbq
pillow
pre-commit
pyarrow
python-language-server[rope,pyflakes,pycodestyle,pydocstyle,mccabe]
requests[socks]
sh
sphinx
sshuttle
structlog
twine
wheel
xlrd
yapf
