ansible
arrow
beautifulsoup4
colorama
cookiecutter
csvdiff
datasette
ety
grip
gunicorn[gevent]
isort
jupyter
klaus
matplotlib
nbstripout
pandas
pillow
pre-commit
pynvim
python-language-server[rope,pyflakes,pycodestyle,pydocstyle,mccabe]
pyls-isort
pyls-black
sh
sphinx
structlog
